{% extends "portail/fiche.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}

{% block detail_fiche %}
    <div class="col-md-9">
        {% embed 'core/box.html' %}
            {% block box_theme %}card-outline card-lightblue{% endblock %}
            {% block box_titre %}{{ box_titre }}{% endblock %}
            {% block box_introduction %}{{ box_introduction|safe }}{% endblock %}
            {% block box_contenu %}
                <div class="container">
                    <div class="table-responsive"> <!-- Ajout de table-responsive ici -->
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Assistant sanitaire</th>
                                    <th scope="col">Nature des soins</th>
                                    <th scope="col">Détails</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for traitement in traitements %}
                                <tr>
                                    <td style="white-space: normal; overflow-wrap: break-word; max-width: 50ch; vertical-align: middle;">{{ traitement.date }}</td>
                                    <td style="white-space: normal; overflow-wrap: break-word; max-width: 50ch; vertical-align: middle;">{{ traitement.auteur }}</td>
                                    <td style="white-space: normal; overflow-wrap: break-word; max-width: 50ch; vertical-align: middle;">{{ traitement.titre }}</td>
                                    <td style="white-space: normal; overflow-wrap: break-word; max-width: 50ch; vertical-align: middle;">{{ traitement.Description }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4" class="text-center">Aucun traitement disponible.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endblock box_contenu %}
        {% endembed %}
    </div>
{% endblock %}
