{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load embed %}

{% block page_titre %}{{ page_titre }}{% endblock page_titre %}

{% block styles %}
    {{ block.super }}
    <style>
    .info-box-text {
        font-weight: bold;
    }
    .info-box-number {
        font-size: 12px;
        font-weight: 400 !important;
    }
    .info-box .info-box-icon {
        width: 80px;
    }

    .video-wrapper {
        margin-bottom: 20px;
    }

    .video-wrapper iframe {
        height: 180px; /* Réduction contrôlée de la hauteur */
        width: 100%;
        border-radius: 6px;
    }

    .video-wrapper p {
        font-size: 15px; /* Lisible mais pas massif */
        font-weight: 500;
        margin-top: 8px;
        line-height: 1.3;
        text-align: center;
    }
    </style>
{% endblock styles %}

{% block page %}

    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">
                            Aide
                        </h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'accueil' %}"><i class="fa fa-home"></i> Accueil</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container-fluid">

                {% block messages %}
                    {% include 'core/messages.html' %}
                {% endblock %}

                {% block contenu_page %}
                <div class="row mb-2">
                    {% for video in videos %}
                        <div class="col-6 col-sm-4 col-md-2 mb-3">
                            <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; border-radius: 6px; box-shadow: 0 0 4px rgba(0,0,0,0.1);">
                                <iframe src="https://www.youtube-nocookie.com/embed/{{ video.video_id }}?rel=0&enablejsapi=1"
                                        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        referrerpolicy='strict-origin-when-cross-origin'
                                        allowfullscreen>
                                </iframe>
                            </div>
                            <p class="text-center mt-1" style="font-size: 12px; line-height: 1.1;">{{ video.title }}</p>
                        </div>
                    {% endfor %}
                </div>

                <!-- Intégration du document après les vidéos -->
                <div class="col-sm-12 ">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item"
                                        src="https://docs.google.com/document/d/e/2PACX-1vQ0t9wsH5ITiwxHP1wOZibRznC7zuAl4bYYcd9pDRJPz6TXVUXs9XZau1nrAGzoTQMY7LyAm6Y-ZUTr/pub?embedded=true" width="100%" style="height: 120vh; border: none;"
                                        frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                <div class="row mb-2">
                    <div class="col-md-12">
                    </div>
                </div>


                {% endblock contenu_page %}
            </div>
        </section>

    </div>
{% endblock page %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'lib/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>

    <script>
        $(document).ready(function() {
            // Active la slimscroll sur les petits cadres
            $('.info-box-number').slimScroll({
                height: '55px'
            });
        });
    </script>
{% endblock scripts %}
